---
import NavBar from "./lib/nav.svelte";
let name = "M31DB";
import Sdk from "./lib/sdkall.astro";
import Featurelist from "./lib/featurelist.svelte";
import "./global.scss";
import M31DbIs from "./lib/heading.svelte"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{name}</title>
    <style lang="scss">
      main {
        .moto {
          display: flex;
          justify-content: center;
          width: 100%;
          animation: load 2s var(--animation-curve);
          color: gray;
        }
      }
      .download {
        width: 100%;
        height: 100%;
        font-size: 20px;
        background-color: var(--secbackground);
        color: var(--font-color);
        border: 0;
        box-shadow: none;
      }
      .download:hover {
        cursor: pointer;
      }
      .button-wrapper {
        min-height: 62px;
        max-height: 62px;
        width: clamp(152px, 152px, 152px) !important;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
        padding: 2px;
        background: linear-gradient(45deg, lime, blue);
      }
      body {
        width: 100vw I !important;
        height: 100vh !important;
      }
      // Media Queries
    </style>
  </head>
  <body>
    <NavBar name={name} client:load />
    <main>
      <M31DbIs name={name} />
      <h3 class="moto"><b>The Database of Your Dreams</b></h3>
      <div class="button-wrapper">
        <button class="download" type="button">Download Now</button>
      </div>
      <Featurelist name={name} />
      <Sdk />
    </main>
  </body>
</html>
